@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.navbar-text > a{
    color: inherit;
    text-decoration: None;
    
}

.navbar-header {
    background:transparent;
}


p{
    font-family: 'Mina', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

.navbar-default{
    background-color: #48D1CC;
    color: 	#000000;
    opacity: 0.8;
    filter: alpha(opacity=80)
    
}

.navbar-default .navbar-brand{
    color: #000000;
    
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{

    color: #2C3E50;
    background-color: transparent;

    
}

.navbar-default .navbar-nav > li > a{
    color: #FFFFFF;
}

.navbar-default .navbar-nav >li > a:hover,
.navbar-default .navbar-nav >li > a:hover{
    color: #FFFFFF;
}

.navbar-default .navbar-nav > open >a,
.navbar-default .navbar-nav > open >a:hover,
.navbar-default .navbar-nav > open >a:focus{
    background-color: #1A242F;
    color: #000000;
    
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active,
.open .dropdown-toggle.btn-primary{

    color: #FFFFFF;
    background-color: #1E2A36;
    border-color: #161F29;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active,
.open .dropdown-toggle.btn-success{

    color: #FFFFFF;
    background-color: #1E2A36;
    border-color: #161F29;
}

.thumbnail img:hover{
    transform: scale(1.1);
}

.thumbnail img{
    transition: all 0.3s ease 0s;
    width: 100%;
}

.thumbnail{
    
    overflow: hidden;
}

.bg-grey{
    background-color: #F9F9F9;
}

.background{
    position: absolute;
    z-index: -1;
    background-repeat: repeat;
    background-size: auto;
}


.jumbotron {
    background-color: transparent;
    height: 250px;
}

.carouseltest{
    color: #000;
}

.carousel-inner{
    opacity: 0.85;
    filter: alpha(opacity=85)

}









.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(62, 80, 241);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: rgb(23, 67, 148);
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #000000;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  
  body{
      background-image: url(background.jpg);    
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

 